<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historial</title>
  <link rel="stylesheet" href="../Styles/Historial.css">
  <link rel="stylesheet" href="../Styles/Menubar.css">
</head>
<body>
 <div class="main-container">
  <header class="app-header">
    <div class="header-icons left">
      <img src="../Source/menu-hamburguesa.png" alt="" class="icon-placeholder" id="toggleDropdown">
      <a href="Menu.html">
      <img src="../Source/hogar.png" alt="home-icon" class="icon-placeholder">
    </a>
    </div>
    <div class="dropdown" id="dropdownMenu">
        <a href="Recibos.html" class="dropdown-item">RECIBOS</a>
        <a href="Paquetes.html" class="dropdown-item">PAQUETES</a>
        <a href="Historial.html" class="dropdown-item">HISTORIAL</a>
        <a href="Soporte.html" class="dropdown-item">SOPORTE</a>
        <a href="Contacto.html" class="dropdown-item">CONTACTO</a>
      </div>

    <h1 class="page-title">HISTORIAL</h1>
    <div class="header-icons right">
      <img src="../Source/sonido-de-timbre.png" alt="bell-icon" class="icon-placeholder">
      <img src="../Source/usuario.png" alt="user-icon" class="icon-placeholder">
    </div>
  </header>

  <h2 class="title">Calendario</h2>

<div class="calendar">
    <div class="calendar__info">
        <div class="calendar__prev" id="prev-month">&#9664;</div>
        <div class="calendar__month" id="month"></div>
        <div class="calendar__year" id="year"></div>
        <div class="calendar__next" id="next-month">&#9654;</div>
    </div>

    <div class="calendar__week">
        <div class="calendar__day calendar__item">Mon</div>
        <div class="calendar__day calendar__item">Tue</div>
        <div class="calendar__day calendar__item">Wed</div>
        <div class="calendar__day calendar__item">Thu</div>
        <div class="calendar__day calendar__item">Fri</div>
        <div class="calendar__day calendar__item">Sat</div>
        <div class="calendar__day calendar__item">Sun</div>
    </div>

    <div class="calendar__dates" id="dates"></div>
</div>
<script src="../../Model/MenuDesplegable.js"></script>
  <script src="../../Model/CalendarioFuncion.js"></script>
</div>
</body>
</html>
