<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
<link rel="stylesheet" href="../Styles/Style.css">
</head>
<body>
  <div class="main-container">
    <div class="center-screen">
      <h1 class="title" >SMART LOCKER</h1>
    </div>
    <form action="menu.html">
      <div class="signin-container">
        <input type="text" placeholder="Username" required/>
        <input type="password" placeholder="Password" required/>
        <button type="submit">Sign In</button>
        <p><a href="Registro.html">Registro Propietario</a></p>
        <p><a href="Registro_a.html">Registro Arrendatario</a></p>
        <p class="forgot-password"><i>¿Olvidaste tu contraseña?</i></p>
      </div>
    </form>
    <div class="login-with">
      <span class="with">or</span>
      <div class="social-logins">
        <img src="../Source/facebook-icon.webp" alt="google-icon" width="26" height="26">
        <img src="../Source/apple-icon.png" alt="google-icon" width="28" height="28">
        <img src="../Source/google2-icon.png" alt="google-icon" width="25" height="25">
      </div>
    </div>
  </div>
</body>
</html>
