<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paquetes</title>
  <link rel="stylesheet" href="../Styles/Paquetes.css">
  <link rel="stylesheet" href="../Styles/Menubar.css">
</head>
<body>
  <header class="app-header">
    <div class="header-icons left">
      <div class="icon-placeholder" id="toggleDropdown"></div>
      <a href="Menu.html">
        <div class="icon-placeholder"></div>
    </a>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="dropdown" id="dropdownMenu">
        <a href="Recibos.html" class="dropdown-item">RECIBOS</a>
        <a href="Paquetes.html" class="dropdown-item">PAQUETES</a>
        <a href="Historial.html" class="dropdown-item">HISTORIAL</a>
        <a href="Soporte.html" class="dropdown-item">SOPORTE</a>
        <a href="Contacto.html" class="dropdown-item">CONTACTO</a>
      </div>

    <h1 class="page-title">PAQUETES</h1>
    <div class="header-icons right">
      <div class="icon-placeholder"></div>
      <div class="icon-placeholder"></div>
    </div>

  </header>
  <script src="../Model/MenuDesplegable.js"></script>
  <div class="rectangle-container">
    <div class="half"></div>
    <div class="half"></div>
</div>

  </body>
  </html>