<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recibos</title>
  <link rel="stylesheet" href="../Styles/Recibos.css">
  <link rel="stylesheet" href="../Styles/Menubar.css">
</head>
<body>
  <header class="app-header">
    <div class="header-icons left">
      <div class="icon-placeholder" id="toggleDropdown"></div>
      <a href="Menu.html">
        <div class="icon-placeholder"></div>
    </a>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="dropdown" id="dropdownMenu">
        <a href="Recibos.html" class="dropdown-item">RECIBOS</a>
        <a href="Paquetes.html" class="dropdown-item">PAQUETES</a>
        <a href="Historial.html" class="dropdown-item">HISTORIAL</a>
        <a href="Soporte.html" class="dropdown-item">SOPORTE</a>
        <a href="Contacto.html" class="dropdown-item">CONTACTO</a>
      </div>

    <h1 class="page-title">RECIBOS</h1>
    <div class="header-icons right">
      <div class="icon-placeholder"></div>
      <div class="icon-placeholder"></div>
    </div>
  </header>
  <script src="MenuDesplegable.js"></script>
 <div class="buttons-container">
    <button id="boton1" class="square-button">Botón 1</button>
    <button id="boton2" class="square-button">Botón 2</button>
    <button id="boton3" class="square-button">Botón 3</button>
    <button id="boton4" class="square-button">Botón 4</button>
</div>
<div id="ventana1" class="ventana" style="display:none;">
</div>
<div id="ventana2" class="ventana" style="display:none;">
</div>
<div id="ventana3" class="ventana" style="display:none;">
</div>
<div id="ventana4" class="ventana" style="display:none;">
</div>
<script src="../../Model/VentanaEmergente.js"></script>
</div>
</body>
</html>
