<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Locker</title>
<link rel="stylesheet" href="../Styles/Style.css">
</head>
<body>

<div class="center-screen">
  <div class="title">SMART LOCKER</div>
</div>
<form action="menu.html">
<div class="signin-container">
  <input type="text" placeholder="Cedula" />
  <input type="text" placeholder="Nombres" />
  <input type="text" placeholder="Apellidos" />
  <input type="text" placeholder="Torre" />
  <input type="text" placeholder="Apartamento" />
  <input type="password" placeholder="Password" />
  <button type="submit">registro</button>
  
</div>
</form>
<div class="login-with">
  <span class="with">WITH</span>
  <div class="social-logins">
    <img src="../Source/facebook-icon.webp" alt="google-icon" width="26" height="26">
    <img src="../Source/apple-icon.png" alt="google-icon" width="28" height="28">
    <img src="../Source/google2-icon.png" alt="google-icon" width="25" height="25">
  </div>
</div>

</body>
</html>
