<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Locker</title>
<link rel="stylesheet" href="../Styles/Registro_a.css">
</head>
<body>

<div class="center-screen">
  <div class="title">SMART LOCKER</div>
</div>
<form action="menu.html">
<div class="signin-container">
  <input type="text" placeholder="Cedula" />
  <input type="text" placeholder="Nombres" />
  <input type="text" placeholder="Apellidos" />
  <input type="text" placeholder="Telefono" />
  <input type="text" placeholder="Cedula Propietario" />
  <input type="password" placeholder="Password" />
  <button type="submit">registro</button>
</div>
</form>

</body>
</html>
